.button {
	width: 100%;
	border: 0;
	background-color: $accent;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white;
	font-family: $ff;
	font-size: 18px;
	font-style: normal;
	font-weight: $fw-medium;
	line-height: $lh24;
	padding: 38px 10px;
	cursor: pointer;
	transition: background-color ease $tr;

	&:hover {
		background-color: $gold;
	}
}

.burger__button {
	position: relative;
	width: 25px;
	height: 25px;
	cursor: pointer;

	span {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 4px;
		background-color: $gold;
		transition: transform ease $tr;

		&::before, &::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: $gold;
		}

		&::before {
			top: 10px;
			width: 80%;
			left: 10%;
			transition: left ease $tr,
				opacity ease $tr, width ease $tr;
		}

		&::after {
			top: 20px;
			transition: transform ease $tr;
		}
	}

	&:hover {
		span::before {
			width: 100%;
			left: 0;
		}
	}

	&.opened {
		span {
			transform: rotate( -45deg );
			top: 10px;
		}

		span::before {
			opacity: 0;
		}

		span::after {
			transform: rotate( 90deg );
			top: 0;
		}
	}

	@media all and (min-width: $md) {
		display: none;
	}
}