// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff			: 'Poppins', sans-serif;


// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;

// Line heights.
$lh24		: 24px;
$lh32		: 32px;
$lh40		: 40px;
$lh80		: 80px;
$lh88		: 88px;

// Colors.
$white	: #FFFFFF;
$black	: #000000;
$accent	: #3A4574;
$gold	: #D3B47F;
$bord	: #CCCCCC;

// Others.
$tr: 0.35s;
$op: 0.7;