.header {
	padding: 15px 0;
	position: fixed;
	left: 0;
	top: 41px;
	width: 100vw;
	z-index: 100;
	transition: padding ease $tr,
		box-shadow ease $tr,
		top ease $tr,
		background-color ease $tr;

	&.scrolled {
		top: 0;
		padding: 10px 0;
		box-shadow: 1px 1px 5px 1px rgba(17, 17, 17, 0.452);
		background-color: $black;
	}

	&__logo {
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__nav {
		display: flex;
		align-items: center;
	}

	&__nav_link,
	.header__contacts_link {
		color: $white;
		font-family: $ff;
		font-size: 16px;
		font-style: normal;
		font-weight: $fw-medium;
		line-height: $lh24;
		margin-right: 45px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;

		&:hover {
			img {
				scale: 1.2;
			}
		}

		img {
			transition: scale ease $tr;
			margin-right: 11px;
		}

		&_link {
			&:hover {
				color: $gold;
			}
		}
	}

}