.popup-wrapper {
	position:fixed;
	display:none;
	align-items:center;
	justify-content:center;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index: 200;
	overflow-y: auto;
	padding: 20px;
	margin: auto 0;
	background: rgba(255, 255, 255, 0.582);

	&.showed {
		display: flex;

		animation: show 1s forwards;

		@keyframes show {
			0% {
				display: none;
				opacity: 0;
				scale: 0.1;
			}

			1% {
				display: flex;
			}

			100% {
				opacity: 1;
				scale: 1;
			}
		}
	}

	.popup {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 30px;
		margin: auto;
		background: rgba(255, 255, 255, 0.89);
		max-width: 440px;
		border-radius: 20px;
		box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.671);

		@media all and (min-width: $lg) {
			padding: 50px;
		}
	}

	form {
		input {
			margin-bottom: 10px;
			border: 0;
			background-color: $gold;
			font-size: 15px;
			line-height: 1.2;
			color: $white;
			text-transform: uppercase;
			padding: 15px 0 15px 15px ;

			&::placeholder {
				opacity: 1;
				color: $white;
				font-size: 15px;
			}
		}
	}

	.container {
		max-width: 680px;
	}

	.popup-close {
		position: relative;
		margin-left: auto;
		width: 15px;
		height: 15px;
		cursor: pointer;
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}

		span {
			display: block;
			width: 100%;
			height: 2px;
			background: $accent;
			transform: rotate( 45deg );

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background: $accent;
				transform: rotate( -90deg );
			}
		}
	}

	.button__wrapper {
		display: flex;
		justify-content: center;

		.button {
			padding: 10px 0;
		}
	}
}